 <div class="box slider">
    <div class="title">ISSUES</div>
    <div class="outer-slider-container">
        <div class="up"></div>
        <div class="container slider-container" ng-controller="IssueCtrl">
            <div class="group">
                <div class="title sub">未対応</div>
                <ul class="container draggable">
                <% @issues[:mi].each do | miIssue | %>
                <li><%= miIssue %></li>
                <% end %>
                </ul>
            </div>
            <div class="group">
                <div class="title sub">対応中</div>
                <ul class="container draggable">
                <% @issues[:chuu].each do | chuIssue | %>
                <li><%= chuIssue %></li>
                <% end %>
                </ul>
            </div>
            <div class="group">
                <div class="title sub">対応済み</div>
                <ul class="container draggable">
                <% @issues[:zumi].each do | zumiIssue | %>
                <li><%= zumiIssue %></li>
                <% end %>
                </ul>
            </div>
        </div>
        <div class="down"></div>
    </div>
</div>