 <div class="box slider">
    <div class="title">ISSUES</div>
    <div class="outer-slider-container">
        <div class="up"></div>
        <div class="container slider-container">
            <div class="group">
                <div class="title sub">未対応</div>
                <ul class="container draggable">
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                    <li>e</li>
                    <li>f</li>
                    <li>g</li>
                    <li>h</li>
                    <li>i</li>
                    <li>j</li>
                    <li>k</li>
                    <li>l</li>
                </ul>
            </div>
            <div class="group">
                <div class="title sub">対応中</div>
                <ul class="container draggable">
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                    <li>e</li>
                    <li>f</li>
                    <li>g</li>
                    <li>h</li>
                    <li>i</li>
                    <li>j</li>
                    <li>k</li>
                    <li>l</li>
                </ul>
            </div>
            <div class="group">
                <div class="title sub">対応済み</div>
                <ul class="container draggable">
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                    <li>e</li>
                    <li>f</li>
                    <li>g</li>
                    <li>h</li>
                    <li>i</li>
                    <li>j</li>
                    <li>k</li>
                    <li>l</li>
                </ul>
            </div>
        </div>
        <div class="down"></div>
    </div>
</div>