<div class="content" ng-controller="MainCtrl">
	<div class="box slider">
		<div class="title">ISSUES</div>
		<div class="outer-slider-container">
			<div class="up"></div>
			<div class="container slider-container">
				<div class="projects-container">
					<select ng-model="project" ng-change="changeProject()">
						<option ng-selected="project.id == p.id" ng-repeat="p in projects" ng-value="p.id">{{p.name}}</option>
					</select>
				</div>
				<div class="group">
	                <div class="title sub">未対応</div>
	                <ul class="container draggable">
	                	<li ng-repeat="i in issues[1]" class="priority{{i.priority.attributes.id}}">
	                		<span>{{i.summary}}</span>
		                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" ng-value="i.issueKey">
		                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" ng-value="i.description">
		                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" ng-value="i.summary">
		                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" ng-value="i.priority.attributes.name">
		                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" ng-value="i.status.attributes.name">
		                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" ng-value="i.assignee.attributes.name">
	                	</li>
	                </ul>
	            </div>
	            <div class="group">
	                <div class="title sub">対応中</div>
	                <ul class="container draggable">
	                	<li ng-repeat="i in issues[2]" class="priority{{i.priority.attributes.id}}">
	                		<span>{{i.summary}}</span>
		                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" ng-value="i.issueKey">
		                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" ng-value="i.description">
		                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" ng-value="i.summary">
		                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" ng-value="i.priority.attributes.name">
		                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" ng-value="i.status.attributes.name">
		                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" ng-value="i.assignee.attributes.name">
	                	</li>
	                </ul>
	            </div>
	            <div class="group">
	                <div class="title sub">対応済み</div>
	                <ul class="container draggable">
	                	<li ng-repeat="i in issues[3]" class="priority{{i.priority.attributes.id}}">
	                		<span>{{i.summary}}</span>
		                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" ng-value="i.issueKey">
		                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" ng-value="i.description">
		                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" ng-value="i.summary">
		                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" ng-value="i.priority.attributes.name">
		                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" ng-value="i.status.attributes.name">
		                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" ng-value="i.assignee.attributes.name">
	                	</li>
	                </ul>
	            </div>
			</div>
			<div class="down"></div>
		</div>
	</div>
	<div class="content-pushed">
		<a class="slider-tab rotate"></a>
		<div class="box">
			<div class="title">TODO</div>
			<ul class="container issues todo" ui-sortable="sortableOptions" ng-model="todoIssues">
      	<li ng-repeat="i in todoIssues" class="priority{{i.priority.attributes.id}}">
      		<span>{{i.summary}}</span>
      	</li>
			</ul>
		</div>
		<div class="box">
			<div class="title">DOING</div>
			<ul class="container issues doing" ui-sortable="sortableOptions" ng-model="doingIssues">
      	<li ng-repeat="i in doingIssues" class="priority{{i.priority.attributes.id}}">
      		<span>{{i.summary}}</span>
      	</li>
			</ul>
		</div>
		<div class="box">
			<div class="title">DONE</div>
			<ul class="container issues done" ui-sortable="sortableOptions" ng-model="doneIssues">
      	<li ng-repeat="i in doneIssues" class="priority{{i.priority.attributes.id}}">
      		<span>{{i.summary}}</span>
      	</li>
			</ul>
		</div>
	</div>
	<div class="trash-container">
		<ul class="trash draggable"></ul>
		<div class="undo"></div>
	</div>
	<div class="viewer">
		<div class="viewer-tab"></div>
		<div class="viewer-container">
			<div class="row"><label>Issue Key: </label><a href="" target="_blank"><span class="viewer-value-issueKey"></span></a></div>
			<div class="row"><label>Summary </label><div class="viewer-value-summary"></div></div>
			<div class="row"><label>Description </label><div class="viewer-value-description"></div></div>
			<div class="row viewer-container-bottom">
				<div class="viewer-container-left"><label>Priority: </label><span class="viewer-value-priority"></span></div>
				<div class="viewer-container-middle"><label>Status: </label><span class="viewer-value-status"></span></div>
				<div class="viewer-container-right"><label>Assignee: </label><span class="viewer-value-assignee"></span></div>
			</div>
		</div>
	</div>
</div>