<div class="container">
  <h1>Nekolog</h1>

  <select id="projects" ng-controller="MainCtrl">
    <option value="">Choose project</option>
  </select>

  <div id="issue_types" ng-controller="IssueCtrl">
  </div>
  <button type="button" id="save_button" ng-submit="doSearch()">Save</button>

  <ul id="issues">
  </ul>
</div>
