<div class="container">
  <h1>Nekolog</h1>

  <select id="projects">
    <option value="">Choose project</option>
  </select>

  <div id="issue_types">
  </div>
  <button type="button" id="save_button">Save</button>

  <ul id="issues">
  </ul>
</div>
