<style>
td { background-color: #fff; }
</style>
<div class="container">
  <h1>Nekolog</h1>

  <select id="projects_for_issues">
    <option value="">Choose project</option>
  </select>

  <table border="1" width="100%">
    <tr style="color: #fff">
      <th>Issue</th>
      <th>TODO</th>
      <th>DOING</th>
      <th>DONE</th>
    <tr>
      <td width="25%">
        <ul id="issues" class="sortable">
        <% if @issues.present? %>
        <% @issues.each do |issue| %>
          <li id="issue_<%= issue.id %>" class="issue" data-id="<%= issue.id %>" data-pos="<%= issue.position %>"><%= issue.summary %></li>
        <% end %>
        <% end %>
        </ul>
      </td>
      <td width="25%" valign="top">
        <ul id="board_1" class="board sortable" style="height: 100px; background-color: #fff;">
        </ul>
      </td>
      <td width="25%" valign="top">
        <ul id="board_2" class="board sortable" style="height: 100px; background-color: #fff;">
        </ul>
      </td>
      <td width="25%" valign="top">
        <ul id="board_3" class="board sortable" style="height: 100px; background-color: #fff;">
        </ul>
      </td>
    </tr>
  </table>
</div>
