<div class="login">
  <div class="heading">
  <h2><font color="#FFFFFF">Sign in</h2>
    <form action="#">

      <div class="input-group input-group-lg">
        <%= render "devise/shared/links" %>
       </form>
 		</div>
 </div>
