<div class="login">
  <div class="heading">
    <h2>Login</h2>
    <p>User your backlog account to login here</p>
    <form action="#">

      <div class="input-group input-group-lg">
        <%= render "devise/shared/links" %>
       </form>
 		</div>
 </div>
